<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hostel_management</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MyProvider</servlet-name>
    <servlet-class>hostel_mana.MyProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProvider</servlet-name>
    <url-pattern>/MyProvider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyProject</display-name>
    <servlet-name>MyProject</servlet-name>
    <servlet-class>hostel_mana.MyProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProject</servlet-name>
    <url-pattern>/MyProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>hostel_mana.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_student</display-name>
    <servlet-name>add_student</servlet-name>
    <servlet-class>hostel_mana.add_student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_student</servlet-name>
    <url-pattern>/add_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leave</display-name>
    <servlet-name>leave</servlet-name>
    <servlet-class>hostel_mana.leave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leave</servlet-name>
    <url-pattern>/leave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>late</display-name>
    <servlet-name>late</servlet-name>
    <servlet-class>hostel_mana.late</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>late</servlet-name>
    <url-pattern>/late</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>view_student</display-name>
    <servlet-name>view_student</servlet-name>
    <servlet-class>hostel_mana.view_student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view_student</servlet-name>
    <url-pattern>/view_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_student</display-name>
    <servlet-name>delete_student</servlet-name>
    <servlet-class>hostel_mana.delete_student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_student</servlet-name>
    <url-pattern>/delete_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_student</display-name>
    <servlet-name>update_student</servlet-name>
    <servlet-class>hostel_mana.update_student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_student</servlet-name>
    <url-pattern>/update_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>attend</display-name>
    <servlet-name>attend</servlet-name>
    <servlet-class>hostel_mana.attend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attend</servlet-name>
    <url-pattern>/attend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment</display-name>
    <servlet-name>payment</servlet-name>
    <servlet-class>hostel_mana.payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload_file</display-name>
    <servlet-name>upload_file</servlet-name>
    <servlet-class>hostel_mana.upload_file</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload_file</servlet-name>
    <url-pattern>/upload_file</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDatabase</display-name>
    <servlet-name>UpdateDatabase</servlet-name>
    <servlet-class>hostel_mana.UpdateDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDatabase</servlet-name>
    <url-pattern>/UpdateDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>hostel_mana.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
</web-app>